*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: rgb(255, 213, 219);
color:black;
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px 0;
}

.cabecalho-imagem{
    width: 07%;
}

.cabecalho-lista-item{
display: inline-block;
margin: 0 16px;
}